[Unit]
Description=InvenTree background worker
Requires=inventree-server.service
After=inventree-server.service

[Container]
ContainerName=inventree-worker
LogDriver=journald
Image=docker.io/inventree/inventree:1.5.6
Network=inventree.network
EnvironmentFile=%h/config/inventree.env
Volume=%h/data:/home/inventree/data
Exec=invoke worker
HealthCmd=invoke worker-health
HealthInterval=60s
HealthStartPeriod=180s

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=900

[Install]
WantedBy=default.target
